{% extends "polls/base.html" %}
{% block tittle %}
{% if form.instance.question_text != '' %} Обновить {{ form.instance }} {% else %} Создать {% endif %}
{% endblock tittle %}
{% block content %}
<form method="post" >
    {% csrf_token %}
        {{ form.as_p }}
        {{ formset.management_form }}
        {% for form in formset.forms %}
            {{ form.as_p }}
        {% endfor %}
    <button type="submit" class="btn btn-primary"><i class="fal fa-clipboard-check">
    </i>{% if form.instance.question_text != '' %} Обновить {{ form.instance }} {% else %} Создать {% endif %}</button>
</form>
{% endblock content %}